<!--<nav class="navbar navbar-expand-md navbar-light" id="home-banner">-->
<!--  <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">-->
<!--    <ul class="navbar-nav ml-auto text-center">-->

<!--    </ul>-->
<!--  </div>-->
<!--  <div class="mx-auto my-2 order-0 order-md-1 position-relative">-->

<!--      <h1>JokePedia</h1>-->
<!--  </div>-->
<!--  <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">-->
<!--    <ul class="navbar-nav mr-auto text-center">-->

<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->

<!--If we ever want to use a more robust navbar here's a template for a good one! ^^^-->
<nav class="navbar navbar-expand-md navbar-light" id="home-banner">
  <button class="btn rounded-bottom text-white" routerLink="/home">
    <h1>JokePedia</h1>
  </button>

  <h3 *ngIf="getLoggedInUser() !== null">Hi {{getLoggedInUser().username}}! 🤣</h3>

  <div class="user-icon float-right">
    <button *ngIf="getLoggedInUser() !== null" (click)="logout()"
      class="btn btn-danger m-2 rounded-bottom profile-button" routerLink="/login">LOGOUT</button>
    <button *ngIf="getLoggedInUser() !== null" class="btn btn-primary rounded-bottom profile-button"
      routerLink="/profile">PROFILE</button>
  </div>
</nav>

<router-outlet></router-outlet>