<nav class="navbar navbar-expand-md navbar-light" id="home-banner">
  <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
    <ul class="navbar-nav ml-auto text-center">



    </ul>
  </div>
  <div class="mx-auto my-2 order-0 order-md-1 position-relative">

      <h1>JokePedia</h1>
  </div>
  <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
    <ul class="navbar-nav mr-auto text-center">
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
