<div id="profile-container" class="container-fluid">
<div class="row" id="profile-row">
  <div class="col-4" id="profile-username">
    <div class="profile-img-div">
    <img height="185px"
         class="mt-4 img-fluid"
         id="profile-img"
      src="../../../dist/jokepedia/assets/profile.png"
    />
    </div>
    <h1 id="username" class="text-white text-center">{{this.user.name}}</h1>
    <div class="text-center">
      <div *ngIf="followFlag===1 && onUsersProfileFlag!==1">
      <button (click)="unfollowUser()"
              class="btn btn-success follow-btn"
      >
        <h5 class="pt-2 text-white font-weight-bold">Following</h5>
      </button>
      </div>
      <div *ngIf="followFlag === 0 && onUsersProfileFlag!==1">
    <button (click)="followUser()"
      class="btn btn-primary follow-btn">
      <h5 class="pt-2 text-white font-weight-bold">Follow</h5>
    </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <div class="card">
          <div class="card-header text-center">
            <h5>Followers</h5>
          </div>
          <div class="card-body text-center follow-card">
            <ul class="list-group">
              <li class="list-group-item rounded-lg bg-warning mb-1"
                *ngFor="let follower of followers">
                <a class="text-primary font-weight-bold"
                  href="/profile/{{follower.userId}}">
                {{follower.name}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header text-center">
            <h5>Following</h5>
          </div>
          <div class="card-body text-center follow-card">
            <ul class="list-group">
              <li class="list-group-item rounded-lg bg-warning mb-1"
                  *ngFor="let followee of followees">
                <a class="text-primary font-weight-bold"
                  href="/profile/{{followee.userId}}">
                {{followee.name}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="row mb-3">
      <div class="card mt-4" id="top-jokes-card">
        <div class="card-header">
          <h2 class="text-center text-danger font-weight-bold">Top 10 Jokes</h2>
        </div>
        <div id="profile-joke-feed"
             class="card-body">
          <ol id="joke-list">
            <li *ngFor="let joke of userJokes">
              <div class="joke">"{{joke.text}}" </div>
            </li>
            <div *ngIf="userJokes.length===0">
              <h3 class="text-center">
                <span class="text-success">
              {{this.user.name}}
                </span>has not posted any Jokes :(
              </h3>
            </div>
          </ol>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <div class="card text-center stat-card" >
          <div id="stat-div">

            <h5 class="stat-text text-center">Total Jokes posted: <span class="jokes-length">{{this.userJokesCount}}</span></h5>
            <h5 class="stat-text text-center">Average Joke Rating: <span class="jokes-length">{{this.userAverageOfJokesPosted}}</span></h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card cat-card">
          <div class="card-header">
          <h4 class="text-center font-weight-bolder">Favorite Categories</h4>
          </div>
          <div class="card-body">
        </div>
        <h5 *ngFor="let category of favoriteCategories">
          {{category.name}}
        </h5>
        </div>
      </div>
    </div>
  </div>
</div>
  <!--<div class="flex-row text-center">
    <h1>{{this.user.name}}'s PROFILE</h1>
  </div>
  <div class="row text-center pr-3 pl-3 mb-4">
    <div class="col">
      <div class="card">
        <div class="card-header">Recent Followers</div>
        <div class="card-body"></div>
      </div>
      <div class="card">
        <div class="card-header">Favorite Categories</div>
        <div *ngFor="let category of favoriteCategories">
          <div>{{category.name}}</div>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">Top 5 Jokes</div>
        <div id="profile-joke-feed"
          class="card-body">
        <div *ngFor="let joke of userJokes">
          <div class="joke">"{{joke.text}}"</div>
        </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row pr-3 pl-3 mb-3">
    <div class="col text-center">
      <div class="card">
        <div class="card-header">
          STATS
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div id="joke-stats-card" class="card">
                <div class="card-body align-items-center d-flex justify-content-center">
                  <h4>Total Jokes posted: <span id="jokes-length">{{this.userJokesCount}}</span></h4>
                </div>
              </div>
            </div>
            <div class="col">
              <div id="rating-stats-card" class="card">
                <div class="card-body align-items-center d-flex justify-content-center">
                  <h4>Average Joke Rating: {{this.userAverageOfJokesPosted}}</h4>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>-->
</div>
