<div id="profile-container" class="container-fluid">
  <div class="flex-row text-center">
    <h1>PROFILE</h1>
  </div>
  <div class="row text-center pr-3 pl-3 mb-4">
    <div class="col">
      <div class="card">
        <div class="card-header">Recent Followers</div>
        <div class="card-body"></div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">Your Top 5 Jokes</div>
        <div class="card-body">
        <div *ngFor="let joke of userJokes">
          <div class="joke">"{{joke.text}}"</div>
        </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row pr-3 pl-3 mb-3">
    <div class="col text-center">
      <div class="card">
        <div class="card-header">
          STATS
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div id="joke-stats-card" class="card">
                <div class="card-body align-items-center d-flex justify-content-center">
                  <h4>Total Jokes posted: <span id="jokes-length">{{userJokes.length}}</span></h4>
                </div>
              </div>
            </div>
            <div class="col">
              <div id="rating-stats-card" class="card">
                <div class="card-body align-items-center d-flex justify-content-center">
                  <h4>Average Joke Rating: 0</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
