#profile-container{
  height: 100%;
  background: linear-gradient(-45deg, #e73c7e, #274ad5, #3594d5);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#top-jokes-card{
  width:70%;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-radius: 20px;
  border-color: cornflowerblue;
}

#profile-row{
  height: inherit;
}

#profile-username{
  background-color: black;
  height: 100%;
  width: 100%;
}

#joke-stats-card{
  background: #005efe;
  margin-left: auto;
  margin-right: auto;
  height: 5rem;
  width: 75%;
  border-radius: 8px;
}

#rating-stats-card{
  background: #005efe;
  margin-left: auto;
  margin-right: auto;
  height: 5rem;
  width: 75%;
  border-radius: 8px;
}

#categories-card{
  background: #005efe;
  margin-left: auto;
  margin-right: auto;
  height: 5rem;
  width: 80%;
  border-radius: 8px;
}

.stat-card{
  display: flex;
  flex-direction: column;
  height: 200px;
  position: relative;
  background: rgb(122, 152, 255);
  /*background: radial-gradient(circle, rgba(0,24,255,1) 0%, rgba(8,35,245,1) 100%);*/
  border-radius: 25px;
}

.cat-card{
  display: flex;
  flex-direction: column;
  height: 200px;
  position: relative;
  background: rgb(122, 152, 255);
  /*background: radial-gradient(circle, rgba(0,24,255,1) 0%, rgba(8,35,245,1) 100%);*/
  border-radius: 25px;
  overflow-y: scroll;
}

#stat-div{
  position: absolute;
  top: 27%;
  width: 100%;
}

.stat-text{
 /* position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 5%;*/
  color: whitesmoke;
}

.jokes-length{
  font-weight: bold;
  color: yellow;
}

#profile-img{
  margin-left:10%;
  height: 180px;
  border-radius: 25px;
}

.profile-img-div{
  width: 50%;
  margin: 0 auto;
}

.follow-btn{
  width: 40%;
}

.follow-card{
  height: 180px;
  overflow-y: scroll;
}

#username{

}

.joke {
  margin:10px;
  border-radius: 7px;
  border: 2px solid #ff830a;
  padding: 20px;
  background-color: #fff9e6;
}

#profile-joke-feed{
  overflow-y: scroll;
  max-height: 300px;
  height: auto;
}

#joke-list{
  min-height:101%;
}

#cat-name {
  color:white;
}
