<div id="jokefeed">
  <h1 style="text-align: center; vertical-align: middle" >Joke Feed</h1>
</div>

<div id="submit">
  <h1 style="text-align: center; vertical-align: middle" >Submit a joke</h1>
  <form id="searchBar">
    <div class="form-group">
      <label for="search">Joke text</label>
      <input type="text" class="form-control" id="search" aria-describedby="searchHelp" placeholder="Enter joke...">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Category</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Knock knock</option>
        <option>One-liner</option>
        <option>Story</option>
        <option>Pakistan's Bowling</option>
      </select>
    </div>
    <button type="button" class="btn btn-primary btn-lg">Submit</button>
  </form>
</div>
