<div id="jokefeed">
  <h1 class="headers">Joke Feed</h1>
  <div class="flex-container">
    <div class="flex-item">
      <div class="form-group" id="categories">
        <label for="exampleFormControlSelect1">Category</label>
        <select name="selectCategory" [(ngModel)]="feedCategory" (ngModelChange)="onCategoryChange()"
          class="form-control">
          <option>All The Jokes 😛</option>
          <option *ngFor="let c of this.categories" [ngValue]="c.categoryId">{{c.name}}</option>
        </select>
      </div>
    </div>
    <div class="flex-item">

      <div class="form-group" id="user">
        <label for="exampleFormControlSelect1">User</label>
        <div class="search-div">
        <input type="text" class="form-control mr-2" [(ngModel)]="searchText"
               aria-describedby="userASearch" placeholder="Username...">
          <i (click)="searchByUserName()"
            class="fa fa-2x fa-search"></i>
        </div>
      </div>

      </div>
    <div class="flex-item">
      <div class="form-group" id="top">
        <label for="exampleFormControlSelect1">Sort</label>
        <select class="form-control" [(ngModel)] = "sortFilter"
        (change)="sortJokes($event)"
        >
          <option value="Hot">Hot</option>
          <option value="Month">Top of the Month</option>
          <option value="Year">Top of the Year</option>
          <option value="AllTime">Top All-Time</option>
        </select>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <ng-container *ngFor='let joke of this.jokes'>
      <div class="joke">
        <div class="row">
          <div class="col-sm-1">
            <div class="row">
              <a (click)="jokeRating(5, joke.jokeId)"><img src="../../assets/5.png" class="emoji"></a>
            </div>
            <div class="row">
                <a (click)="jokeRating(4, joke.jokeId)"><img src="../../assets/4.png" class="emoji button" style="margin-top: 10px"></a>
            </div>
            <div class="row">
                <a (click)="jokeRating(3, joke.jokeId)"><img src="../../assets/3.png" class="emoji button" style="margin-top: 10px"></a>
            </div>
            <div class="row">
                <a (click)="jokeRating(2, joke.jokeId)"><img src="../../assets/2.png" class="emoji button" style="margin-top: 10px"></a>
            </div>
            <div class="row">
                <a (click)="jokeRating(1, joke.jokeId)"><img src="../../assets/1.png" class="emoji button" style="margin-top: 10px"></a>
            </div>
          </div>
          <div class="col-sm-1">
            <h6>Rating Avg</h6>
            <p>{{joke.avgRating}}</p>
          </div>
          <div class="col-sm-9">
            <a routerLink="/profile/{{joke.userId}}"><label style="color: #844444">{{joke.username}}</label></a> 
            <p>{{joke.text}}</p>
            <!-- Use Angular's date pipe to format date -->
            <label>{{ joke.timeStamp | date:'mediumDate' }} {{ joke.timeStamp | date:'shortTime' }}</label>
          </div>
          <div class="col-sm-1">
            <img src="../../assets/options.png" id="options">
          </div>
        </div>
      </div>
    </ng-container>
  </div>

</div>

<div id="submit">
  <h1 class="headers">Submit a joke</h1>
  <form id="searchBar" style="padding-bottom: 10px">
    <div class="form-group">
      <label for="search">Joke text</label>
      <input name="enterJoke" [(ngModel)]="this.postJokeText" 
      type="text" class="form-control" placeholder="Enter joke...">
    </div>
    <div class="form-group" id="categories">
      <label for="exampleFormControlSelect1">Category</label>
      <select name="selectCategory" [(ngModel)]="postJokeCategory"
        class="form-control">
        <option>All The Jokes 😛</option>
        <option *ngFor="let c of this.categories" [ngValue]="c.categoryId">{{c.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <button (click)="postJoke()" type="button" class="btn btn-success btn-sm btn-block">Submit</button>
    </div>

  </form>
</div>
