#jokefeed {
  /*border: 1px solid black;*/
  background-color: #ffc47d;
  border-radius: 25px;
  margin: 10px;
  min-height: 300px;
  padding-bottom: 10px;
}

#submit {
  background-color: #ffc47d;
  /*border: 1px solid black;*/
  border-radius: 25px;
  margin: 10px;
  min-height: 150px;
}

#searchBar {
  margin: 10px;
}

.search-div{
  display: flex;
}

#categories {
  width: 150px;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}


.joke {
  margin:10px;
  border-radius: 25px;
  border: 2px solid #ff830a;
  padding: 20px;
  background-color: #fff9e6;
}

.emoji {
  max-height: 30px;
  margin-left: 20px;
  margin-right: 20px;

}

#options {
  max-height: 20px;
  margin-right: 20px;
}

.headers {
  color: white;
  text-shadow: 2px 2px 2px #50340e;
  text-outline: 5px grey;
  text-align: center;
  vertical-align: middle;
}

#timestamp {
  padding-right: 10px;
}
